/* Шрифты */
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* Цвета */
/* Базовые настройки */
html {
  font-size: 10px;
}
a:hover {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
body {
  font-size: 10px;
  font-family: 'ProximaNova_reg', sans-serif;
}
.container-fluid {
  padding: 0;
}
.button {
  padding: 1rem 3rem;
  border-radius: 8px;
  font-size: 1.5rem;
  background-color: #fbb202;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #e2a002;
}
/* оформление формы */
.form {
  padding: 2rem;
  background-color: #ffffff;
  -webkit-box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
  text-align: center;
}
.form-header {
  font-size: 1.8rem;
  padding: 2rem 0;
}
.form-input {
  font-size: 1.3rem;
  display: block;
  margin: 0.5rem 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1.5rem;
}
.form label {
  font-size: 1.3rem;
}
.form-btn {
  margin-top: 2rem;
  display: block;
  height: 5rem;
  width: 100%;
  font-size: 1.4rem;
}
.header {
  padding: 2rem 0;
  margin-bottom: 2rem;
  background-color: #2a7e07;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header .logo {
  margin-right: 2rem;
}
.header .phone-link {
  color: #fff;
  text-align: center;
  margin-right: 2rem;
}
.header .phone-link p {
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 0;
}
.header .phone-link span {
  font-size: 1.5rem;
}
.main-content {
  background: #ffffff url(../img/2.jpg) no-repeat center bottom;
  padding: 4rem 0;
}
.main-content h1 {
  font-size: 4rem;
  font-family: 'ProximaNova_bold', sans-serif;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.main-content h1 span {
  font-size: 3rem;
}
.main-subtitle {
  font-size: 2.5rem;
}
.main-span {
  display: inline-block;
  margin-top: 6rem;
  padding: 3rem;
  font-size: 2rem;
  color: #ffffff;
  background-color: #46b814;
  text-align: center;
  border: 3px solid #2a7e07;
  border-radius: 10px;
  -webkit-box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
}
.main-span strong {
  font-size: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
/* секция с ценами */
.price {
  background-color: #2a7e07;
}
.price-header {
  padding: 4rem 0;
  text-align: center;
  color: #ffffff;
}
.price-header h2 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.price-header p {
  font-size: 2rem;
}
.price-block {
  text-align: center;
  padding: 1rem;
  min-height: 60rem;
  background-color: #ffffff;
  -webkit-box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
  margin-bottom: 3rem;
}
.price-block h4 {
  text-align: center;
  font-size: 1.4rem;
  font-family: 'ProximaNova_bold', sans-serif;
  text-transform: uppercase;
  margin: 2rem 0;
}
.price-block img {
  max-width: 100%;
  display: inline-block;
  margin-bottom: 2rem;
}
.price-tag {
  text-align: center;
  font-size: 2.2rem;
  color: #fbb202;
  display: block;
  margin-bottom: 1rem;
}
.price-list {
  text-align: left;
  list-style: none;
  min-height: 20rem;
  line-height: 3rem;
  font-size: 1.5rem;
  padding-left: 1rem;
  margin-bottom: 2rem;
}
.price-list li {
  margin-bottom: 1rem;
}
.price-list li:before {
  content: '';
  display: inline-block;
  margin-right: 1rem;
  width: 1.6rem;
  height: 1.6rem;
  background: url(../img/prices/checked.svg) no-repeat center;
  vertical-align: middle;
  background-size: 100%;
}
.price-btn {
  margin-bottom: 2rem;
}
/* блок с преимуществами */
.features {
  background-color: #fff;
  padding: 4rem 0;
}
.features h3 {
  text-align: center;
  font-size: 3.5rem;
  text-transform: uppercase;
  margin-bottom: 6rem;
}
.features-block {
  text-align: center;
}
.features-block h4 {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.features-block p {
  font-size: 1.5rem;
  display: inline-block;
  width: 90%;
}
.features-img {
  height: 8rem;
  margin-bottom: 2rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.slick-active {
  outline: none;
}
.arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
}
.prev {
  left: 0;
  background: url(../img/features/left_arrow.png) center no-repeat;
  background-size: 200%;
}
.next {
  right: 0;
  background: url(../img/features/right_arrow_icon.png) center no-repeat;
  background-size: 200%;
}
.all-inclusive {
  background-color: #2a7e07;
  padding: 4rem 0;
  color: #fff;
}
.all-inclusive .section-header {
  text-align: center;
  margin-bottom: 4rem;
}
.all-inclusive .section-header h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
}
.all-inclusive .section-header p {
  font-size: 2rem;
}
.all-inclusive .media {
  min-height: 10rem;
  margin-bottom: 2rem;
}
.all-inclusive .media h5 {
  font-size: 1.6rem;
  padding-left: 1rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.all-inclusive .media p {
  font-size: 1.4rem;
  padding-left: 1rem;
}
.circle {
  display: inline-block;
  background-color: #fbb202;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.circle-border {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  padding: 0.3rem;
  border: 2px solid #fbb202;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  color: #ffffff;
  font-size: 2rem;
}
/* секция проблемы */
.problems {
  background: #f5f5f5;
  position: relative;
}
.problems .section-header {
  text-align: center;
  padding: 4rem 0;
}
.problems .section-header h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
}
.problems-man {
  position: absolute;
  bottom: 0%;
  width: 25rem;
  left: 45%;
  margin-left: -10rem;
}
.problems-list {
  border: 3px solid #46b814;
  margin-bottom: 2rem;
  padding: 2rem;
  min-height: 40rem;
}
.problems-list h4 {
  font-size: 2rem;
}
.problems-list ul {
  line-height: 3rem;
  font-size: 1.6rem;
  list-style: none;
  padding-left: 0;
  padding-top: 2rem;
}
.problems-list ul li {
  position: relative;
  padding-left: 3.5rem;
  margin-bottom: 1rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.problems-list ul li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
}
.problems-list_bad {
  border-color: #e8e8e8;
}
.problems-list_bad h4 {
  opacity: 0.5;
}
.problems-list_bad ul li:before {
  background: url(../img/cancel.png) center no-repeat;
  background-size: 70%;
}
.problems-list_good ul li:before {
  background: url(../img/checked.png) center no-repeat;
  background-size: 70%;
}
/* Отзывы c галереей*/
.feedback {
  background: url(../img/fotorama/feedbackbg.jpg) no-repeat center center / cover;
  padding: 5rem 0;
}
.feedback .section-header {
  text-align: center;
}
.feedback .section-header h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  margin-bottom: 4rem;
}
.feedback-slider {
  background-color: #ffffff;
  -webkit-box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
  padding: 3rem;
}
.feedback-slider_item .description {
  margin-bottom: 4rem;
}
.feedback-slider_item .description p {
  font-size: 1.8rem;
}
.feedback-slider_item .user {
  padding: 1rem;
  background-color: #f5f5f5;
  font-size: 2rem;
  border-radius: 5px;
}
.feedback-slider_item .user blockquote {
  font-size: 2rem;
  font-style: italic;
}
.feedback .fotorama {
  margin-right: 1rem;
}
.materials {
  background-color: #fff;
  padding: 4rem 0;
}
.materials .section-header {
  margin-bottom: 3rem;
  text-align: center;
}
.materials .section-header h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
}
.materials .section-header p {
  font-size: 1.8rem;
}
.materials img {
  display: block;
  margin: 2rem auto;
}
.materials-block {
  text-align: center;
  font-size: 1.4rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.tour {
  background: url(../img/bg2.jpg) no-repeat center top / cover;
  padding: 4rem;
}
.tour-header {
  text-align: center;
  margin-bottom: 4rem;
}
.tour-header h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
}
.tour-text p {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 4rem;
}
.tour-form h2 {
  font-size: 2rem;
  margin: 0;
  padding: 1rem 0;
  font-family: 'ProximaNova_bold', sans-serif;
}
.tour-form button {
  font-size: 1.5rem;
}
.upsell {
  background-color: #2a7e07;
  padding: 4rem 0;
}
.upsell .section-header {
  text-align: center;
  color: #ffffff;
  margin-bottom: 4rem;
}
.upsell .section-header h3 {
  font-size: 3.5rem;
  text-transform: uppercase;
}
.upsell .section-header p {
  font-size: 2rem;
}
.upsell-block {
  text-align: center;
  color: #ffffff;
}
.upsell-block img {
  margin-bottom: 2rem;
  display: inline-block;
  max-width: 100%;
}
.upsell-block p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.footer {
  padding: 2rem 0;
}
.footer-contacts {
  font-size: 1.3rem;
  padding-top: 1rem;
  text-align: center;
}
.footer-contacts p {
  margin: 0;
}
.footer-copirate p {
  font-size: 1.2rem;
  margin-top: 3.5rem;
  text-align: right;
}
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
  position: fixed;
  left: 50%;
  top: 10%;
  background-color: #ffffff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 2rem;
  text-align: center;
}
.popup-close {
  position: absolute;
  top: -1rem;
  border: none;
  text-align: center;
  right: -2.5rem;
  font-size: 3rem;
  background-color: transparent;
  color: #ffffff;
}
/* медиазапросы */
@media (max-width: 768px) {
  .main {
    background-size: cover;
  }
  .main .header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main .header .logo {
    margin-right: 4rem;
  }
  .main .header .phone-link {
    margin-bottom: 3rem;
  }
  .main-subtitle {
    font-size: 1.5rem;
  }
  .form-header {
    font-size: 1.5rem;
  }
  .form-span {
    padding: 1rem 1rem;
  }
  .tour {
    background-image: url(../img/tourbg.jpg);
    background-position: center right;
  }
  .tour-title {
    font-family: 'ProximaNova_bold', sans-serif;
  }
  .scheme {
    background: #ffffff url(../img/schemebg.png) bottom right -15rem no-repeat;
    background-size: 40rem;
  }
  .scheme-list {
    min-height: 50rem;
  }
  .scheme-title h2 {
    font-size: 3rem;
    font-family: 'ProximaNova_bold', sans-serif;
    color: #000;
  }
  .scheme-title p {
    font-size: 2rem;
    color: #fff;
    font-family: 'ProximaNova_bold', sans-serif;
  }
}
@media (max-width: 576px) {
  .main .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .header .phone-link {
    margin: 3rem 0;
  }
  .main-content {
    text-align: center;
    background-position: center center;
  }
  .main-content h1 {
    margin-top: 0rem;
    font-size: 3rem;
  }
  .main-content h1 span {
    font-size: 2rem;
  }
  .main-subtitle {
    font-size: 2rem;
    font-family: 'ProximaNova_bold', sans-serif;
  }
  .main-span {
    margin: 3rem 0;
  }
  .form-header {
    font-size: 1.8rem;
  }
  .price-header-btn {
    float: none;
    margin-left: 6rem;
  }
  .scheme {
    background: none;
    height: auto;
    text-align: center;
  }
  .problems-man {
    display: none;
  }
  .problems-list {
    min-height: auto;
  }
  .tour {
    background: #cccccc;
  }
  .tour-title {
    text-align: center;
  }
  .tour-title h2 {
    font-size: 3rem;
    color: #ffffff;
  }
  .tour-title p {
    color: #ffffff;
  }
  .tour-subtitle {
    text-align: center;
    font-size: 1.6rem;
    color: #000;
    margin-bottom: 2rem;
  }
  .tour-form {
    margin-top: 2rem;
  }
  .footer .logo {
    margin-left: 2rem;
  }
}
