@charset "UTF-8";
@font-face { font-family: "ProximaNova, sans serif"; src: url(../fonts/ProximaNova-Reg.otf); }

@font-face { font-family: "ProximaNova_Bold, sans serif"; src: url(../fonts/ProximaNova-Bold.otf); font-weight: bold; }

/*Обнуление*/
* { padding: 0; margin: 0; border: 0; }

*, *:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; }

a:focus, a:active { outline: none; }

a, a:visited, a:hover { text-decoration: none; }

a { color: #ffffff; }

nav, footer, header, aside { display: block; }

button { cursor: pointer; padding: 0; border: 0; }

ul li { list-style: none; }

html, body { height: 100%; width: 100%; font-size: 100%; line-height: 1; font-size: 14px; font-family: "ProximaNova, sans serif"; }

.container { max-width: 1200px; margin: 0 auto; padding: 0px 15px; }

.container-full { max-width: 1400px; margin: 0 auto; padding: 0px 15px}

.parallax-window { min-height: 600px; }

.anchor { display: block; content: ""; height: 60px; margin: -60px 0 0; }

.contact-bar { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; position: fixed; top: 0; right: 0; left: 0; width: 100%; margin: 0 auto; padding: 0px 40px; background: #141414be; z-index: 999; }

.contact-bar .contact-links { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 5px 0; }

.contact-bar .contact-links li { margin-right: 40px; }

.contact-bar .contact-links a .icon { font-size: 16px; color: #ffc61a; }

.contact-bar .contact-links a:hover { color: #ffc61a; }

.header { position: relative; width: 100%; top: 0; left: 0; z-index: 99; }

.header:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #333333; z-index: 2; }

.header_body { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; margin: 0 auto; padding-top: 27px; }

.header_list { display: -webkit-box; display: -ms-flexbox; display: flex; position: relative; z-index: 2; }

.header_list li { margin-left: 25px; }

.header_list li::after { content: ''; display: block; width: 100%; height: 2px; background: #ffc61a; -webkit-transform: translateY(5px) scale(0); transform: translateY(5px) scale(0); -webkit-transition: all 0.2s; transition: all 0.2s; }

.header_list li:hover::after { -webkit-transform: translateY(5px) scale(1); transform: translateY(5px) scale(1); }

.header_list li a:hover { color: #ffc61a; }

.header_link { color: #ffffff; font-size: 16px; }

.header_burger { display: none; }

.header .logo { padding: 5px; }

.header_logo { position: relative; z-index: 3;}

.main { min-height: 100vh; background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(255, 255, 255, 0.1))), url(../img/main_bg.jpg); background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.1)), url(../img/main_bg.jpg); background-repeat: no-repeat; background-size: cover; background-position: bottom center; }

.main_wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 70vh; }

.main_title { text-align: right; color: #ffffff; line-height: 60px; }

.main_title h1 { display: inline-block; text-transform: uppercase; font-size: 50px; font-weight: bold; line-height: 60px; border-bottom: 1px solid #ffc61a; margin-bottom: 0; }

.main_title h2 { font-size: 30px; font-weight: normal; line-height: 40px; margin-bottom: 40px; }

.main_title .main_btn { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-decoration: none; width: 180px; height: 50px; color: #ffffff; font-size: 20px; padding: 20px; margin-left: auto; background-color: #ffc61a; background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #ff9d0a), color-stop(70%, #ffc61a)); background: linear-gradient(0deg, #ff9d0a 30%, #ffc61a 70%); -webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75); box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75); position: relative; border: none; border-radius: 5px; overflow: hidden; }

.main_title .main_btn::before { position: absolute; content: ''; top: 0; left: 0; width: 1.5em; height: 100%; background-color: rgba(255, 255, 255, 0.6); -webkit-transform: translateX(-4em) skewX(-45deg); transform: translateX(-4em) skewX(-45deg); }

.main_title .main_btn:hover:before { -webkit-animation: move-light 1s infinite; animation: move-light 1s infinite; }

@-webkit-keyframes move-light { from { -webkit-transform: translateX(-4em) skewX(-45deg); transform: translateX(-4em) skewX(-45deg); }
  to { -webkit-transform: translateX(10em) skewX(-45deg); transform: translateX(10em) skewX(-45deg); } }

@keyframes move-light { from { -webkit-transform: translateX(-4em) skewX(-45deg); transform: translateX(-4em) skewX(-45deg); }
  to { -webkit-transform: translateX(10em) skewX(-45deg); transform: translateX(10em) skewX(-45deg); } }

.about { padding: 40px 0; }

.about_title { padding: 20px; margin-bottom: 40px; -webkit-box-shadow: 0px 0px 8px #333333; box-shadow: 0px 0px 8px #333333; }

.about_title h3 { color: #333333; text-align: center; font-size: 28px; margin-bottom: 10px; border-bottom: 1px solid #ccc; }

.about_title p { text-align: center; font-size: 18px; line-height: 24px; font-weight: 300; }

.about_body { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.about_body-car { width: 500px; }

.about_body-car h4 { text-align: center; font-size: 18px; border-bottom: 1px solid #cccccc; margin-bottom: 20px; }

.about_body-car p { padding: 5px; font-size: 16px; line-height: 20px; }

.about_body-car .about_btn { text-align: center; margin: 40px auto; }

.about_body-car .about_btn a.car_btn { text-decoration: none; color: #ffffff; font-size: 16px; padding: 10px 20px; border-radius: 5px; background: #ffc61a; background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #ff9d0a), color-stop(70%, #ffc61a)); background: linear-gradient(0deg, #ff9d0a 30%, #ffc61a 70%); -webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75); box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75); }

.about_body-slider { width: 600px; margin-bottom: 20px; }

.about_body-slider img { max-width: 100%; }

.service { background-color: #ece7e7; padding: 30px 0; }

.service-title { text-align: center; padding: 20px 0; }

.service-title h3 { display: block; font-size: 32px; text-transform: uppercase; padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #000000; }

.service .tap { display: none; font-size: 12px; margin: 10px auto; }

.service-cards { text-align: center; }

.service-cards .wrap-1 .card-1 { border: none; background-color: #ece7e7; position: relative; -webkit-perspective: 1000px; perspective: 1000px; max-width: 380px; height: 245px; margin-bottom: 20px; }

.service-cards .wrap-1 .card-1 .front-1, .service-cards .wrap-1 .card-1 .back-1 { color: #ffffff; position: absolute; width: 100%; height: 100%; top: 0; left: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-transition: 1s; transition: 1s; -webkit-backface-visibility: hidden; backface-visibility: hidden; }

.service-cards .wrap-1 .card-1 .front-1 { background: url(../img/LaptopMan.jpg) center no-repeat; }

.service-cards .wrap-1 .card-1 .front-1 span { display: inline-block; width: 100%; font-size: 30px; padding: 10px 20px; margin-top: 140px; background-color: rgba(216, 216, 216, 0.4); }

.service-cards .wrap-1 .card-1 .back-1 { background-color: #333333; -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }

.service-cards .wrap-1 .card-1 .back-1 p { padding: 5px; font-size: 16px; line-height: 22px; color: #fff; }

.service-cards .wrap-1 .card-1:hover .front-1 { -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }

.service-cards .wrap-1 .card-1:hover .back-1 { -webkit-transform: rotateY(360deg); transform: rotateY(360deg); }

.service-cards .wrap-2 .card-2 { border: none; background-color: #ece7e7; position: relative; -webkit-perspective: 1000px; perspective: 1000px; max-width: 380px; height: 245px; margin-bottom: 20px; }

.service-cards .wrap-2 .card-2 .front-2, .service-cards .wrap-2 .card-2 .back-2 { color: #ffffff; position: absolute; width: 100%; height: 100%; top: 0; left: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-transition: 1s; transition: 1s; -webkit-backface-visibility: hidden; backface-visibility: hidden; }

.service-cards .wrap-2 .card-2 .front-2 { background: url(../img/chauffeur-prive.jpg) center no-repeat; }

.service-cards .wrap-2 .card-2 .front-2 span { display: inline-block; width: 100%; font-size: 30px; padding: 10px 20px; margin-top: 140px; background-color: rgba(216, 216, 216, 0.4); }

.service-cards .wrap-2 .card-2 .back-2 { background-color: #333333; -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }

.service-cards .wrap-2 .card-2 .back-2 p { padding: 5px; font-size: 16px; line-height: 22px; color: #fff; }

.service-cards .wrap-2 .card-2:hover .front-2 { -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }

.service-cards .wrap-2 .card-2:hover .back-2 { -webkit-transform: rotateY(360deg); transform: rotateY(360deg); }

.service-cards .wrap-3 .card-3 { border: none; background-color: #ece7e7; position: relative; -webkit-perspective: 1000px; perspective: 1000px; max-width: 380px; height: 245px; margin-bottom: 20px; }

.service-cards .wrap-3 .card-3 .front-3, .service-cards .wrap-3 .card-3 .back-3 { color: #ffffff; position: absolute; width: 100%; height: 100%; top: 0; left: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-transition: 1s; transition: 1s; -webkit-backface-visibility: hidden; backface-visibility: hidden; }

.service-cards .wrap-3 .card-3 .front-3 { background: url(../img/Cafe.jpg) center no-repeat; }

.service-cards .wrap-3 .card-3 .front-3 span { display: inline-block; width: 100%; font-size: 30px; padding: 10px 20px; margin-top: 140px; background-color: rgba(216, 216, 216, 0.4); }

.service-cards .wrap-3 .card-3 .back-3 { background-color: #333333; -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }

.service-cards .wrap-3 .card-3 .back-3 p { padding: 5px; font-size: 16px; line-height: 22px; color: #fff; }

.service-cards .wrap-3 .card-3:hover .front-3 { -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }

.service-cards .wrap-3 .card-3:hover .back-3 { -webkit-transform: rotateY(360deg); transform: rotateY(360deg); }

.service-cards .wrap-4 .card-4 { border: none; background-color: #ece7e7; position: relative; -webkit-perspective: 1000px; perspective: 1000px; max-width: 380px; height: 245px; margin-bottom: 20px; }

.service-cards .wrap-4 .card-4 .front-4, .service-cards .wrap-4 .card-4 .back-4 { color: #ffffff; position: absolute; width: 100%; height: 100%; top: 0; left: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-transition: 1s; transition: 1s; -webkit-backface-visibility: hidden; backface-visibility: hidden; }

.service-cards .wrap-4 .card-4 .front-4 { background: url(../img/shoping.jpg); }

.service-cards .wrap-4 .card-4 .front-4 span { display: inline-block; width: 100%; font-size: 30px; padding: 10px 20px; margin-top: 140px; background-color: rgba(216, 216, 216, 0.4); }

.service-cards .wrap-4 .card-4 .back-4 { background-color: #333333; -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }

.service-cards .wrap-4 .card-4 .back-4 p { padding: 5px; font-size: 16px; line-height: 22px; color: #fff; }

.service-cards .wrap-4 .card-4:hover .front-4 { -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }

.service-cards .wrap-4 .card-4:hover .back-4 { -webkit-transform: rotateY(360deg); transform: rotateY(360deg); }

.service-cards .wrap-5 .card-5 { border: none; background-color: #ece7e7; position: relative; -webkit-perspective: 1000px; perspective: 1000px; max-width: 380px; height: 245px; margin-bottom: 20px; }

.service-cards .wrap-5 .card-5 .front-5, .service-cards .wrap-5 .card-5 .back-5 { color: #ffffff; position: absolute; width: 100%; height: 100%; top: 0; left: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-transition: 1s; transition: 1s; -webkit-backface-visibility: hidden; backface-visibility: hidden; }

.service-cards .wrap-5 .card-5 .front-5 { background: url(../img/excurs.jpg) center no-repeat; }

.service-cards .wrap-5 .card-5 .front-5 span { display: inline-block; width: 100%; font-size: 30px; padding: 10px 20px; margin-top: 140px; background-color: rgba(216, 216, 216, 0.4); }

.service-cards .wrap-5 .card-5 .back-5 { background-color: #333333; -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }

.service-cards .wrap-5 .card-5 .back-5 p { padding: 5px; font-size: 16px; line-height: 22px; color: #fff; }

.service-cards .wrap-5 .card-5:hover .front-5 { -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }

.service-cards .wrap-5 .card-5:hover .back-5 { -webkit-transform: rotateY(360deg); transform: rotateY(360deg); }

.service-cards .wrap-6 .card-6 { border: none; background-color: #ece7e7; position: relative; -webkit-perspective: 1000px; perspective: 1000px; max-width: 380px; height: 245px; margin-bottom: 20px; }

.service-cards .wrap-6 .card-6 .front-6, .service-cards .wrap-6 .card-6 .back-6 { color: #ffffff; position: absolute; width: 100%; height: 100%; top: 0; left: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-transition: 1s; transition: 1s; -webkit-backface-visibility: hidden; backface-visibility: hidden; }

.service-cards .wrap-6 .card-6 .front-6 { background: url(../img/wedding.jpg) center no-repeat; }

.service-cards .wrap-6 .card-6 .front-6 span { display: inline-block; width: 100%; font-size: 30px; padding: 10px 20px; margin-top: 140px; background-color: rgba(216, 216, 216, 0.4); }

.service-cards .wrap-6 .card-6 .back-6 { background-color: #333333; -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }

.service-cards .wrap-6 .card-6 .back-6 p { padding: 5px; font-size: 16px; line-height: 22px; color: #fff; }

.service-cards .wrap-6 .card-6:hover .front-6 { -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }

.service-cards .wrap-6 .card-6:hover .back-6 { -webkit-transform: rotateY(360deg); transform: rotateY(360deg); }

.features { padding: 40px 0; }

.features-title h3 { text-align: center; color: #000; padding-bottom: 10px; font-size: 32px; text-transform: uppercase; border-bottom: 1px solid #000; margin-bottom: 40px; }

.features-body { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.features-card { display: block; text-align: center; width: 300px; }

.features-card img { width: 60px; height: 60px; margin: 20px auto; }

.features-card h5 { font-size: 18px; }

.features-card p { font-size: 14px; line-height: 18px; padding: 10px 20px; }

.features-slider { display: none; }

.price { min-height: 300px; background-color: #ece7e7; padding: 40px 0; }

.price-title { text-align: center; padding: 20px 0; }

.price-title h3 { display: block; font-size: 32px; text-transform: uppercase; padding-bottom: 10px; margin-bottom: 40px; border-bottom: 1px solid #000000; }

.price-body { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; text-align: center; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.price-item { padding: 20px; }

.price-item h5 { font-size: 22px; margin-bottom: 10px; padding-bottom: 5px; border-bottom: 1px solid #333333; }

.price-item p { font-size: 18px; margin-bottom: 20px; }

.price-item span { display: block; margin-bottom: 20px; background: #333333; -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); font-size: 42px; font-weight: 800; color: #ffc61a; border-radius: 10px; padding: 15px; min-width: 150px; }

.price-descr p { text-align: center; font-size: 18px; color: #333333; margin-top: 40px; }

.price-descr p a { display: inline-block; background: #333333; -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); color: #ffc61a; font-weight: 800; padding: 15px; border-radius: 10px; margin-top: 15px; }

.testimonials { padding: 40px 0; }

.testimonials-title { text-align: center; }

.testimonials-title h3 { font-size: 32px; text-transform: uppercase; padding-bottom: 10px; margin-bottom: 40px; border-bottom: 1px solid #000; }

.testimonials-text { text-align: center; font-size: 16px; line-height: 24px; background-color: #fff; margin: 20px; }

.testimonials-text .fas { font-size: 22px; color: #ffc61a; margin-right: 10px; }

.testimonials-text h5 { font-size: 16px; border-bottom: 1px solid #ccc; padding-bottom: 5px; margin-bottom: 20px; }

.testimonials-text span { display: inline-block; font-size: 12px; margin-top: 20px; }

.testimonials .testimonial-slider { position: relative; padding: 0 30px; }

.testimonials .testimonial-slider .slick-arrow { position: absolute; top: 50%; z-index: 9; width: 30px; height: 40px; margin-top: -20px; }

.testimonials .testimonial-slider .slick-prev { left: 0; font-size: 0; background: url("../img/arrowLeft.svg") center center no-repeat; }

.testimonials .testimonial-slider .slick-next { right: 0; font-size: 0; background: url("../img/arrowRight.svg") center center no-repeat; }

.booking { background-image: url("../img/bg_parallax.jpg"); background-repeat: no-repeat; background-size: cover; background-position: center; padding: 60px 0; }

.booking_title { text-align: center; }

.booking_title h3 { color: #fff; font-size: 30px; font-weight: bold; text-transform: uppercase; border-bottom: 1px solid #ffffff; margin-bottom: 40px; }

.booking_body { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.booking_text { text-align: center; width: 650px; color: #ffffff; font-size: 18px; line-height: 30px; padding: 30px; margin-bottom: 20px; background-color: rgba(0, 0, 0, 0.2); }

.booking_text h5 { text-align: center; display: inline-block; font-size: 24px; color: #ffc61a; margin-bottom: 20px; border-bottom: 1px solid #fff; }

.booking_text a { color: #ffc61a; font-size: 20px; cursor: pointer; }

.booking_text p { margin-bottom: 15px; }

.booking_form { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 350px; padding: 20px; background-color: rgba(0, 0, 0, 0.2); }

.booking_form .form-block { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.booking_form h5 { font-size: 24px; color: #ffc61a; margin-bottom: 20px; border-bottom: 1px solid #fff; }

.booking_form label { color: #ffffff; margin-bottom: 5px; }

.booking_form .form-control { width: 200px; height: 25px; margin-bottom: 15px; }

.booking_form .form-input { width: 200px; height: 25px; margin-bottom: 15px; }
.booking_form .form-input:invalid{box-shadow:none;}

.booking_form .message { width: 200px; margin: 20px 0; }

.booking_form .btn { color: #ffffff; padding: 10px; margin-top: 20px; font-size: 18px; width: 200px; border-radius: 5px; background: #ffc61a; background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #ff9d0a), color-stop(70%, #ffc61a)); background: linear-gradient(0deg, #ff9d0a 30%, #ffc61a 70%); -webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75); box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75); cursor: pointer; }

.footer { background-color: #000000; color: #fff; }

.footer .social-links { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-top: 30px; margin-bottom: 30px; }

.footer .social-links span { display: block; font-size: 12px; text-align: right; }

.footer .social-links li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; list-style: none; margin-right: 20px; }

.footer .social-links li a { text-decoration: none; color: #ffffff; }

.footer .social-links li a .fab, .footer .social-links li a .fas:before { font-size: 28px; }

.footer .social-links li a:hover { color: #ffc61a; }

.footer .info { text-align: center; }

.footer .info p { display: block; }

.footer .info span { font-size: 10px; display: block; padding: 10px 0; line-height: 14px; }

@media screen and (max-width: 1200px) { .about_body-car { width: 400px; }
  .about_body-slider { width: 550px; }
  .about_body-slider img { max-width: 100%; }
  .booking_text { width: 500px; } }


@media screen and (min-width: 992px) {
  .header_logo img { max-width: 40%; }
}

@media screen and (max-width: 992px) { body.lock { overflow: hidden; }
  .header_logo img { width: 240px; }
  .header-title { text-align: center; }
  .header-title h1 { font-size: 36px; font-family: "ProximaNova_Bold, sans serif"; color: #fff; padding-top: 130px; }
  .header-title span { color: #ffc61a; text-transform: none; font-size: 36px; }
  .header-text p { color: #fff; font-size: 20px; font-family: "ProximaNova, sans serif"; }
  .header a.button { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-decoration: none; margin: 20px auto; padding: 10px; width: 150px; height: 40px; background-color: #e4b015; border: none; border-radius: 5px; color: #ffffff; font-size: 16px; font-family: "ProximaNova, sans serif"; font-weight: normal; text-transform: uppercase; }
  .header a.button:hover { background-color: #ffc61a; }
  .header_burger { display: block; position: relative; width: 30px; height: 20px; z-index: 3; }
  .header_burger span { position: absolute; width: 100%; height: 2px; left: 0; top: 9px; background-color: #ffffff; -webkit-transition: all 0.3s ease 0s; transition: all 0.3s ease 0s; }
  .header_burger::before { content: ''; position: absolute; width: 100%; height: 2px; left: 0; top: 0; background-color: #ffffff; -webkit-transition: all 0.3s ease 0s; transition: all 0.3s ease 0s; }
  .header_burger:after { content: ''; position: absolute; width: 100%; height: 2px; left: 0; bottom: 0; background-color: #ffffff; -webkit-transition: all 0.3s ease 0s; transition: all 0.3s ease 0s; }
  .header_burger.active span { -webkit-transform: scale(0); transform: scale(0); }
  .header_burger.active:before { -webkit-transform: rotate(45deg); transform: rotate(45deg); top: 9px; }
  .header_burger.active:after { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); bottom: 9px; }
  .header_menu { position: fixed; width: 100%; height: 100%; top: -100%; left: 0; overflow: auto; background-color: rgba(0, 0, 0, 0.8); padding-top: 100px; padding-bottom: 10px; text-align: center; -webkit-transition: all 0.5s ease 0s; transition: all 0.5s ease 0s; }
  .header_menu.active { top: 0; }
  .header_list { display: block; }
  .header_list li { margin: 0 0 30px 0; }
  .header_link { font-size: 18px; }
  .header_list li::after { display: none; }
  .about_body { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .about_body-car { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; width: 600px; }
  .about_body-slider { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; width: 600px; }
  .booking_body { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .main_title h1 {font-size: 34px;}
  .main_title h2 {font-size: 28px; font-weight: bold;} }

@media screen and (max-width: 767px) { .contact-bar { padding: 0 15px; }
  .contact-bar .contact-links { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .contact-bar .contact-links li.tel, .contact-bar .contact-links li.email { display: none; }
  .contact-bar .contact-links li.phone { font-size: 16px; margin: 0; }
  .main { background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(255, 255, 255, 0.1))), url(../img/bg_mini.jpg); background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.1)), url(../img/bg_mini.jpg); background-repeat: no-repeat; background-size: cover; background-position: center bottom; }
  .main_wrapper { height: 70vh; }
  .main_title { text-align: center; }
  .main_title h1 { font-size: 28px; line-height: 34px; }
  .main_title h2 { font-size: 24px; line-height: 34px; }
  .main_title .main_btn { margin: 0 auto; }
  .about_body { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .about_body-car { width: 550px; }
  .about_body-slider { width: 550px; }
  .service .tap { display: inline-block; }
  .features { padding-bottom: 40px; }
  .features-body { display: none; }
  .features-slider { display: block; position: relative; padding: 0 30px; }
  .features-slider .slick-arrow { position: absolute; top: 50%; z-index: 9; width: 30px; height: 40px; margin-top: -20px; }
  .features-slider .slick-prev { left: 0; font-size: 0; background: url("../img/arrowLeft.svg") center center no-repeat; }
  .features-slider .slick-next { right: 0; font-size: 0; background: url("../img/arrowRight.svg") center center no-repeat; }
  .features-card { margin-bottom: 10px; -webkit-box-shadow: none; box-shadow: none; background-color: #ffffff; }
  .booking { background-image: url("../img/mob_form.jpg"); background-repeat: no-repeat; background-size: cover; background-position: center; } }

@media screen and (max-width: 576px) { .header-title h1 { font-size: 30px; color: #fff; padding-top: 80px; margin-bottom: 15px; }
  .header-title h2 { font-size: 16px; margin: 0; }
  .header-title span { color: #ffc61a; text-transform: none; font-size: 30px; }
  .header-title a.button { font-size: 14px; font-weight: 300; }
  .main_wrapper { height: 50vh; }
  .main_title { text-align: center; }
  .main_title h1 { font-size: 30px; line-height: 38px; }
  .main_title h2 { font-size: 22px; font-weight: 800; line-height: 30px; margin-bottom: 20px; }
  .about { padding: 20px 0; }
  .about_title { padding: 20px; }
  .about_title h3 { font-size: 18px; font-weight: 800; }
  .about_title p { font-size: 16px; line-height: 22px; }
  .about_body { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .about_body-car { width: 350px; }
  .about_body-car h4 { font-size: 20px; }
  .about_body-slider { width: 350px; }
  .booking_title { margin-bottom: 20px; }
  .booking_title h3 { font-size: 20px; }
  .booking_text { text-align: center; color: #fff; }
  .booking_text p { font-size: 16px; line-height: 22px; } }

@media screen and (max-width: 350px) { .about_body { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .about_body-car { width: 300px; }
  .about_body-slider { width: 300px; padding: 5px; } }
/*# sourceMappingURL=style.css.map */