DirectoryIndex index.php
RewriteEngine On
# Основной домен
# RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
# RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# RewriteEngine On 
#RewriteCond %{SERVER_PORT} 80 
#RewriteRule ^(.*)$ https://www.evolution-mining.com/$1 [R,L]


# Главная
RewriteRule ^index.html$ index.php [L]

# Правила
RewriteRule ^rules(/?)+$ index.php?menu=rules [L]

# Контакты
RewriteRule ^contacts(/?)+$ index.php?menu=contacts [L]

# Новости
RewriteRule ^news(/?)+$ index.php?menu=news [L]

# О нас
RewriteRule ^about(/?)+$ index.php?menu=about [L]

# FAQ
RewriteRule ^faq(/?)+$ index.php?menu=faq [L]

# Регистрация
RewriteRule ^signup/key/(.*)(/?)+$ index.php?menu=signup&key=$1 [L]
RewriteRule ^signup(/?)+$ index.php?menu=signup [L]

# Восстановление пароля
RewriteRule ^recovery(/?)+$ index.php?menu=recovery [L]

# Последние выплаты
RewriteRule ^payments(/?)+$ index.php?menu=payments [L]

# топ
RewriteRule ^top(/?)+$ index.php?menu=top [L]

# CRON
RewriteRule ^cronaseraz(/?)+$ index.php?menu=cronaseraz [L]

# Bounty
RewriteRule ^bounty(/?)+$ index.php?menu=bounty [L]

# Пользователи
RewriteRule ^users/([0-9]+)(/?)+$ index.php?menu=users&page=$1 [L]
RewriteRule ^users(/?)+$ index.php?menu=users [L]


# Вывод PerfectMoney
RewriteRule ^account/paymentpm(/?)+$ index.php?menu=account&sel=paymentpm [L]
 
# Аккаунт
RewriteRule ^account/change(/?)+$ index.php?menu=account&sel=change [L]
RewriteRule ^account/set(/?)+$ index.php?menu=account&sel=set [L]
RewriteRule ^account/deposit(/?)+$ index.php?menu=account&sel=deposit [L]
RewriteRule ^account/success1(/?)+$ index.php?menu=account&sel=success1 [L]
RewriteRule ^account/insertpm(/?)+$ index.php?menu=account&sel=insertpm [L]

# PAYKASSA крипта
RewriteRule ^account/insert_paykassa(/?)+$ index.php?menu=account&sel=insert_paykassa [L]
RewriteRule ^account/payment_paykassa(/?)+$ index.php?menu=account&sel=payment_paykassa [L]

RewriteRule ^account/withdraw/([0-9]+)(/?)+$ index.php?menu=account&sel=withdraw&pay_id=$1 [L]
RewriteRule ^account/withdraw(/?)+$ index.php?menu=account&sel=withdraw [L]
RewriteRule ^account/market(/?)+$ index.php?menu=account&sel=market [L]
RewriteRule ^account/mining(/?)+$ index.php?menu=account&sel=mining [L]
RewriteRule ^account/perfect(/?)+$ index.php?menu=account&sel=perfect [L]
RewriteRule ^account/referals(/?)+$ index.php?menu=account&sel=referals [L]
RewriteRule ^account/buy(/?)+$ index.php?menu=account&sel=buy [L]
RewriteRule ^account/exit(/?)+$ index.php?menu=account&sel=exit [L]
RewriteRule ^account(/?)+$ index.php?menu=account [L]
RewriteRule ^account/history(/?)+$ index.php?menu=account&sel=history [L]
