/*-------------
 	General
-------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font: normal 14px "Open Sans", sans-serif;
	color: #555555;
}

ul, nav{
	list-style: none;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}


.main-title {
	background: linear-gradient(to bottom ,  rgb(207, 194, 255), rgb(144, 116, 247));
	box-shadow: 0 5px 10px 1px rgb(151, 123, 252);
	padding: 30px 10px;
	margin: 0 auto;
	max-width: 480px;

}
h1 {
	font-size: 22px;
	color: #ffffff;
	text-align: center;
}

.contant {
max-width: 480px;
margin: 0px auto;
padding: 20px;
box-shadow: 0 5px 10px 1px rgb(151, 123, 252);
background:  linear-gradient(to top left, rgb(231, 150, 231), rgb(243, 146, 165), rgb(252, 163, 131), rgb(250, 231, 125));
}


.contant ul li {
	border-radius: 10px;
	box-shadow: 0px 0px 10px #ffffff;
	background: #fff;
	padding: 15px 10px;
	margin-bottom: 20px;
	color: rgb(153, 152, 152);

}
.contant ul li span {
	font-size: 16px;
	color: #555555;
}

.contant ul li:focus {
	background-color: rgb(203, 203, 255);
	color: #ffffff;
	cursor: pointer;
}
.contant ul li:active {
	background-color: rgb(203, 203, 255);
	color: #ffffff;
	cursor: pointer;
}
.contant ul li:hover {
	background-color: rgb(203, 203, 255);
	color: #ffffff;
	cursor: pointer;
}

